
<body>
	<div class="container jumbo-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class='pageTitle'>{{title}}</h1>
            </div>
        </div>
		<div class="row">
			<div class="col-12 search">
			</div>
		</div>
        <div class="footer">
                <a href="/">About Us</a>
                <br>
                <a href="/">Contact Us</a>
                <br>
                <a href="/">Follow Us</a>
                <br>
        </div>
            <div class="trademarks">
            <p>&copy;PodPals, Inc.</p>   
	</div>
</body>
</html>


