<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container jumbo-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class='pageTitle'>{{title}}</h1>
                <p class="lead">Read and write reviews of today's most popular podcasts!</p>
            </div>
        </div>
		<div class="row">
			<div class="col-12 search">
				Name
                Image
                Feed
                Review

			</div>
		</div>
        <div class="footer">
                <a href="/">About Us</a>
                <a href="/">Contact Us</a>
                <a href="/">Follow Us</a>
            </div>
            <div class="trademarks">
            <p>&copy;PodPals, Inc.</p>   
	</div>
</body>
</html>


