body {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  font: 14px bold;
  font-family: Montserrat, sans-serif;
  background-color: rgba(226, 168, 60, 0.952);
}
  
.container > .row {
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-content: center;
}

.jumbotron-fluid {
  margin: 0%;
  padding: 3%;
  position: relative;
  min-width: 100%;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.podpalslogo {
  margin: 0%;
  padding: 2%;
  height: 100%;
}

.lead  {
  font-weight: 600;

}

.btn {
  display: inline;
  margin: 1%;
}

.btn:hover {
  background-color: #1cc0dd;
}

.containerLogBtn {
  position: relative;
  top: 1%;
  left: 40%;
  margin: 1%;
  min-width: 100%;
}

.search-bar {
  font-weight: 600;
}

input.search-bar::placeholder {
  font-weight: 400;
}

.podcastInfo {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.card, .podcastImg {
  max-width: 500px;
  max-height: 500px;
}
.podcastCard {
  display: flex;
  justify-content: center;
}

.newInputReview {
  text-align: center;
  font-weight: 400;
}

.previousReviews {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
  max-width: 100%;
}

.eachRatingTitle {
  text-align: center;
  font-weight: 600;
}

.newRatingArea {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.newRatingnewComment {
  text-align: center;
}

.ratingNumber {
  font-weight: 600;
}

a {
  color: #00B7FF;
}

.footer-container {
  background-color: whitesmoke;
  margin: 0%;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 1%;
}

.footer, .trademarks {
  background-color: whitesmoke;
  margin: 0%;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 1%;
}

.footer {
  background-color: whitesmoke;
}