body {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  font: 14px bold;
  font-family: Montserrat, sans-serif;
  background-color: rgba(226, 168, 60, 0.952);
  }

.container > .row {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.jumbotron-fluid {
  margin: 0%;
  padding: 3%;
  position: relative;
  min-width: 100%;
  font-family: Montserrat, sans-serif;
  text-align: center;
  }

.podpalslogo {
  margin: 0%;
  padding: 2%;
  height: 100%;
  width: 20%;
}

.lead  {
font-weight: 600;
}

.btn {
  display: inline;
  margin: 1%;
}

.btn:hover {
  background-color: #1cc0dd;
}

.containerLogBtn {
  top: 1%;
  margin: 1%;
  display: flex;
  flex: wrap-reverse;
}

.searchArea {
  margin-top: 3%;
}

.search-bar {
  font-weight: 600;
}

input.search-bar::placeholder {
  font-weight: 400;
}

.results {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.podcastcard {
  text-align: center;
  margin: 2%;
  padding: 0px;
  min-width: 200px;
}

.podcastPage, .feedURL {
  position: relative;
}

div.card-header {
  background-color: #ffffff;
}

.podcastImg {
  margin: 0%;
  padding: 0%;
  min-width: 100%;
  align-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

.col-12 {
  max-width: 100%;
}

.footer, .trademarks {
  background-color: whitesmoke;
  margin: 0%;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 1%;
  min-width: 100%;
}