html {
  width: cover;
  margin: 0px;
  padding: 0px;
  /* position: fixed; */
  }

.jumbotron {
  margin: 0%;
  padding: 5%;
  position: relative;
  min-width: 100%;
  font-family: Montserrat, sans-serif;
  text-align: center;
  }

.podpalslogo {
  margin: 0%;
  padding: 2%;
}

body {
  margin: 0px;
  padding: 0px;
  font: 14px bold;
  font-family: Montserrat, sans-serif;
  }

a {
  color: #00B7FF;
  }
